body{
    width: 550px;
    height: 350px;
}
#container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 250px 100px;
    align-items: center;
    background-color: orange;
}
input{
    width: 150px;
}
button{
   
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
input{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;    
}
#letter{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;    
}
#woord{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: block;  
}
#input{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 75px 0 0 0;
    display: block;  
}
#button{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 150px 0 0 0;
    width: 100px;
    display: block; 
}
p{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;    
    margin: 0 0 0 40px;
    display: block;
}
#p-grid{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 75px 0 0 40px;    
}
#onderkant{
    color: white;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3; 
}