* {
    box-sizing: border-box;
}
a{
    color: black;
}

#title {
  text-align: center;
  color: black;
}

@media screen and (max-width: 480px) {
  #msgBox {
    font-size: 2.5em;
  }
}

#tekst {
  text-align: center;
  padding: 0px 0px 10px 0px;
  font-size: 1.1em;
  color: black;
}

#container {
  margin: auto;
  width: 23em;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  color: #fff;
};










